* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', sans-serif;
    display: flex;
    background: #f1f5f9;
}

/* Sidebar */
.sidebar {
    width: 230px;
    height: 100vh;
    background: #0f172a;
    color: white;
    padding: 20px;
}

.sidebar h2 {
    text-align: center;
    margin-bottom: 30px;
}

.sidebar ul {
    list-style: none;
}

.sidebar li {
    padding: 12px;
    margin: 10px 0;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
}

.sidebar li:hover {
    background: #1d4ed8;
}

.sidebar .active {
    background: #2563eb;
}

/* Main */
.main {
    flex: 1;
    padding: 30px;
}

/* Header */
.header {
    margin-bottom: 20px;
}

.header p {
    color: gray;
}

/* Cards */
.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
    gap: 20px;
}

.card {
    background: white;
    padding: 25px;
    border-radius: 12px;
    text-align: center;
    transition: 0.3s;
    box-shadow: 0 8px 20px rgba(0,0,0,0.08);
}

.card:hover {
    transform: translateY(-5px);
}

/* Pages */
.page {
    display: none;
    animation: fade 0.4s ease;
}

.page.active {
    display: block;
}

@keyframes fade {
    from {opacity: 0;}
    to {opacity: 1;}
}

/* Form */
.profile-form {
    max-width: 400px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.profile-form input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
}

.profile-form button {
    padding: 10px;
    background: #2563eb;
    color: white;
    border: none;
    border-radius: 6px;
}

/* Quiz */
.quiz-box {
    background: white;
    padding: 20px;
    border-radius: 10px;
    max-width: 400px;
}

.options label {
    display: block;
    margin: 8px 0;
    padding: 8px;
    background: #f8fafc;
    border-radius: 6px;
}

/* Table */
.table-container {
    background: white;
    padding: 20px;
    border-radius: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th {
    background: #2563eb;
    color: white;
    padding: 10px;
}

td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}
